<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">

</head>
<body>
    <div id="top-nav">
        <a href="#home-section">gourmet au catering</a>
        <div id="top-nav-right">
            <a href="#about-section">about</a>
            <a href="#menu-section">Menu</a>
            <a href="#contact-section">contact</a>
        </div>
    </div>
    <div id="home-section">
    <img src="burgre.jpg"width="2000px"alt="">
    <p>le catering</p>
    </div>
    <div id="section-container">
        <div id="about-section">
            <div id="img-container">
                <img src="table3.jpg"width="300px"height="500px"alt="">
            </div>
            <div id="text-container">
                <h1 style="text-align: center; margin-top:0px ;">about catering</h1>
                <p style="text-align: center;">tradition since 1889</p>
                <p>the catering was founded in blabla by mr.smith in lorem ipsqum dolor sit amet,consecteur adipicing elit consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.ut enim ad minm venim,quis nostrud exercitation ullanco laboris nisi ut aliquip ex ea conmodo consequt.duis aute iruedolor in reprehendenrit in voluptate velit ease cillum dolor eu fugiat nulla pariatur.we only use easonal ingredients.</p>
                <p id="gray">excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,end do eiusmod temporincididunt ut labore et dolore magna aliqua.ut enim ad minim venim,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ut aliquip ex ea commoda consequat.</p>

            </div>
        </div>
        
        <hr>
        <div id="menu-section">
            <div id="text-container2">
                <h1 style="margin-top: 0px; text-align: center;">our menu</h1>
                <h3>bread basket</h3>
                <p>assortment of fresh baked fruit breads and muffins 5.50</p>
                <h3>honey almond granola with fruits</h3>
                <p>natural cereal of honey oats,raisins,almonds and dates 7.00</p>
                <h3>belgin waffle</h3>
                <p>vanilla flavored batter with malted and muffins 5.50</p>
                <h3>scrmbled eggs</h3>
                <p>scrambld eggs,roasted red pepper and garlic,with green onions 7.50</p>
                <h3>blueberry pancakes</h3>
                <p>with syruo,butter and lots of berries 8.50</p>

            </div>
            <div id="img-container2">
            <img src="table2.jpg"alt="">

        </div>
        </div>
        <hr>
        <div id="contact-section"></div>
        <h1>contact</h1>
        <p>we offier full service for any events.larger or small.we understand your needs and we will cater the we will cater the food to satisfy the biggerst criteri a of them all.both look and taste.do not hesitate to contact us.

        </p>
        <p style="color:rgba(155,118 ,255); font-size: 20px;">catering service,42nd living st,43043 new york,NY</p>
        <p>you can also contact us by phone 00553123-2323 or emile catering@catering.com,or you can send us a message here.</p>
        <form action="">
            <input type="text" placeholder="name"><br><br>
            <input type="text" placeholder="how many people"><br><br>
            <input type="date"><br><br>
            <input type="text" placeholder="massage\special requirements"><br><br>
            <button>SEND MASSAGE</button>
           <br><br><br>
        </form>
    </div>
    <div id="footer">powered by <a href="w3.css">w3.css</a>
    </div>

</body>
</html>