.main-header{
    background-color: #d0d6d5;
    border: 1px solid black;
}

.main-section{
    background-color: #d0d6d5;
    border: 1px solid black;

}

.secondary{
    color: #00705c;
}

span{
    background-color: pink;
    
}